#dropZone51 {
	background:#ffffff;
	float:left;
	height:120px;
	width:420px;
	border:dashed #40464d 3px;
	color:#d90b0b;
	font-weight:bold;
}

div.topright{
    display:block;

    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    width:350px;

    /*give it some background and border*/
    background:transparent;
}